body{
  font-size: 16px;
}

.all__text-align_left {
  text-align: left;
}

.all__text-align_right {
  text-align: right;
}

.all__text-align_center {
  text-align: center;
}

.all__text-align_justify {
  text-align: justify;
}

.all__sansserif {
  font-family: sans-serif;
}

.all__bold {
  font-weight: bold;
}

.all__float_right {
  float: right;
}